.ecommerce-widgets .fa-dollar {
    font-size: 24px!important;
    background: -webkit-gradient(linear, left top, right top, color-stop(10%, var(--theme-deafult)), to(#a927f9))!important;
    background: linear-gradient(to right, var(--theme-deafult) 10%, #a927f9 100%)!important;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important;
    margin-top: 2px!important;
}
